# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/api/target/
/email/target/
/eureka/target/
/config-server/target/
/control-center/target/
.gitignore
