<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--header-->
<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css" media="all"/>
<script src="/js/jquery.cookie.js" th:src="@{/layui/layui.all.js}"></script>
<div th:fragment="header">
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a href="#"><label> </label></a></li>
                    <li style="color: #ffffff">24x7小时 在线<span class="live"> 支持</span></li>
                </ul>
                <ul class="support">
                    <li class="van"><a href="#"><label> </label></a></li>
                    <li style="color: #ffffff">快捷购物 <span class="live"></span></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="top-header-right">
                <div class="down-top">

                    <select tabindex="4" class="dropdown">
                        <option value="" class="label">中文</option>
                    </select>
                </div>
                <div class="down-top top-down">

                    <select tabindex="4" class="dropdown ">
                        <option value="" class="label">人民币 :￥</option>
                    </select>
                </div>

                <!---->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="index" th:href="@{/index}"><img src="../images/logo.png" th:src="@{/images/logo.png}" alt="logo" /></a>
                </div>
                <div class="search">
                    <input id="search-key" type="text" onblur="if(!this.value)this.value='搜索您感兴趣的商品... ';return true;" onfocus="if(this.value=='搜索您感兴趣的商品... ')this.value='';return true;" value="搜索您感兴趣的商品... " >
                    <input type="button" class="btn btn-primary"  value="搜索" id="goods-search" style="width: 73px" onclick="searchKey()">

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
                <ul class="men-grid">
                    <li id="personInfo" ><span ></span><div id="userName" style="display: inline-block;vertical-align: top;"></div></li>
                    <li class="login" id="exitUrl"><a href="/user/userLoggedOut" th:href="@{/user/userLoggedOut}" ><span></span>退出</a></li>
                    <li class="login" id="loginUrl"><a href="/index/login" th:href="@{/index/login}" ><span></span>登陆</a></li>
                    <li class="cart" id="shoppingCartUrl"><a th:href="@{/shoppingCart/myShoppingCart}" ><span> </span>购物车</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
</div>
<!---->
<script>
</script>
</body>
</html>