<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--header-->
<div th:fragment="header">
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a href="#"><label> </label></a></li>
                    <li><a href="#">24x7小时 在线<span class="live"> 支持</span></a></li>
                </ul>
                <ul class="support">
                    <li class="van"><a href="#"><label> </label></a></li>
                    <li><a href="#">快捷购物 <span class="live"></span></a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="top-header-right">
                <div class="down-top">

                    <select tabindex="4" class="dropdown">
                        <option value="" class="label">English</option>
                        <option value="1">Japanese</option>
                        <option value="2">French</option>
                        <option value="3">German</option>
                    </select>
                </div>
                <div class="down-top top-down">

                    <select tabindex="4" class="dropdown ">
                        <option value="" class="label">Currency :USD</option>
                        <option value="1">Dollar</option>
                        <option value="2">Euro</option>
                    </select>
                </div>

                <!---->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="index" th:href="@{/index}"><img src="../images/logo.png" th:src="@{/images/logo.png}" alt="logo" /></a>
                </div>
                <div class="search">
                    <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
                    <input type="submit"  value="搜索" id="goods-search">

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
                <ul class="men-grid">
                    <li><a href="/index/login.html"><span> </span>个人信息</a></li>
                    <li class="login"><a href="/index/login" th:href="@{/index/login}"><span></span>登陆</a></li>
                    <li class="cart"><a href="#"><span> </span>购物车</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
</div>
<!---->
</body>
</html>