<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>订单</title>
    <!--css-->
    <link href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/collection.css" th:href="@{/css/collection.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/form.css" th:href="@{/css/form.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/order.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!---->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--js-->
    <script src="../js/jquery-1.11.1.js" th:src="@{/js/jquery-1.11.1.js}"></script>
    <script src="../js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="../js/jquery.easydropdown.js" th:src="@{/js/jquery.easydropdown.js}"></script>
    <script src="/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
    <script src="/js/jquery.cookie.js" th:src="@{/layui/layui.all.js}"></script>
    <script src="/js/jquery.cookie.js" th:src="@{/js/commom.js}"></script>
    <!---->
</head>
<body>
<!--header-->
<div th:replace="../templates/header :: header"></div>
<!--header end-->
<!--sidebar-->
<div th:replace="../templates/sidebar :: sidebar"></div>
<!--sidebar end-->
<div class="container">
    <h1>订单</h1>
    <div class="goods-page">
        <div class="goods-data clearfix">
            <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                    <tbody>
                    <tr>
                        <th class="goods-page-header">图片</th>
                        <th class="goods-page-header">描述</th>
                        <th class="goods-page-header">数量</th>
                        <th class="goods-page-header">单价</th>
                        <th class="goods-page-header" colspan="2">总价</th>
                    </tr>
                    <tr th:each="item,itemStat : ${shoppingCartList}" th:id="'item'+${item.id}">
                        <td class="goods-page-image">
                            <a th:href="@{'/index/single/'+${item.goodsId}}"><img class="shopping-cart-image"
                                                                                  th:src="'http://'+${item.image}"
                                                                                  alt="Berry Lace Dress"></a>
                        </td>
                        <td class="goods-page-description">
                            <h3><a th:href="@{'/index/single/'+${item.goodsId}}">[[${item.name}]]</a></h3>
                            <em th:text="${item.simpleDescribe}"></em>
                        </td>
                        <td class="goods-page-quantity">
                            <div class="product-quantity">
                                <strong class="item-quantity"
                                        th:id="'quantity'+${item.id}">[[${item.quantity}]]</strong>
                            </div>
                        </td>
                        <td class="goods-page-price">
                            <strong><span>￥</span></strong><strong th:id="'price'+${item.id}">[[${item.price}]]</strong>
                        </td>
                        <td class="goods-page-total">
                            <strong><span>￥</span></strong><strong th:id="'total'+${item.id}" class="item-total">[[${item.price}*${item.quantity}]]</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <form type="post" action="/shoppingCart/getOrder" id="get-order">

                <div class="panel-body row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="name-dd">收货人<span class="require">*</span></label>
                            <input type="text" name="userName" id="name-dd" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="telephone-dd">手机号码 <span class="require">*</span></label>
                            <input type="text" name="phoneNumber" id="telephone-dd" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="city-dd">收货城市<span class="require">*</span></label>
                            <input type="text" name="city" id="city-dd" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address-dd">收货地址<span class="require">*</span></label>
                            <input type="text" name="address" id="address-dd" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="cart-total">
                    <div class="shopping-total">
                        <ul>
                            <li style="font-size: 150%">
                                <em>平均价</em>
                                <strong><span>￥</span></strong><strong id="average-price" class="price">47.00</strong>
                            </li>
                            <li class="shopping-total-price" style="font-size: 150%">
                                <em>总价</em>
                                <strong><span>￥</span></strong><strong id="total-price" class="price">50.00</strong>
                            </li>
                        </ul>
                    </div>

                    <button class="btn btn-default" id="to-index" type="button">继续购物<i class="fa fa-shopping-cart"></i>
                    </button>
                    <button class="btn btn-primary" id="buy" type="submit">结算<i class="fa fa-check"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--footer-->
<div th:replace="../templates/footer :: footer"></div>
<!--footer end-->

</body>
<script>
    $().ready(function () {
        init();
        updateTotal();
// 在键盘按下并释放及提交后验证提交表单
    });

    function init() {
        var userName = $.cookie('userName');
        if (userName == null) {
            $("#personInfo").hide();
            $("#shoppingCartUrl").hide();
            $("#exitUrl").hide();
            $("#loginUrl").show();
        }
        else {
            $("#personInfo").show();
            $("#userName").text(userName);
            $("#shoppingCartUrl").show();
            $("#exitUrl").show();
            $("#loginUrl").hide();
        }
    }

    function updateTotal() {
        var quantityTotal = 0;
        var priceTotal = 0;
        $(".item-quantity").each(function () {
            quantityTotal += parseInt($(this).text());
        });
        $(".item-total").each(function () {
            priceTotal += parseInt($(this).text());
        });
        $("#total-price").text(priceTotal);
        var averagePrice = priceTotal / quantityTotal
        $("#average-price").text(averagePrice.toFixed(2));
    }

    $("#to-index").click(function () {
        window.location.href = "/index";
    });

    $("#get-order").validate({
        rules: {
            userName: {
                required: true,
            },
            phoneNumber: {
                required: true,
            },
            city: {
                required: true,
            },
            address: {
                required: true,
            },
        },
        messages: {
            userName: {
                required: "请输入您的姓名",
            },
            phoneNumber: {
                required: "请输入您的手机号码",
            },
            city: {
                required: "请输入收货的城市",
            },
            address: {
                required: "请输入收货的具体地址",
            },
        }
    });
</script>
</html>