<!DOCTYPE html>
<
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Product</title>
    <!--css-->
    <link href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/form.css" th:href="@{/css/form.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!---->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--js-->
    <script src="../js/jquery-1.11.1.js" th:src="@{/js/jquery-1.11.1.js}"></script>
    <script src="../js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
    <script src="../js/jquery.easydropdown.js" th:src="@{/js/jquery.easydropdown.js}"></script>
    <!---->
</head>
<body>
<!--header-->
<div th:replace="../templates/header :: header"></div>
<!--header end-->
<!-- start content -->
<div class="container">
    <input id="categoryId" type="hidden" th:value="${id}">
    <div class="women-product">
        <div class=" w_content">
            <div class="women">
                <h4>商品数量总计 - <span id="count">9 </span></h4>
                <ul class="w_nav">
                    <li>排序方式 :</li>
                    <li><a class="active" href="#">流行度</a></li>
                    |
                    <li><a href="#">最新商品 </a></li>
                    |
                    <li><a href="#">折扣最高</a></li>
                    |
                    <li><a href="#">售价</a></li>
                    <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- grids_of_4 -->
        <div id="grids" class="grid-product">
        <div class="clearfix"></div>
    </div>
</div>
<!--sidebar-->
<div th:replace="../templates/sidebar :: sidebar"></div>
<!--sidebar end-->
<div class="clearfix"></div>
</div>
<!--footer-->
<div th:replace="../templates/footer :: footer"></div>
<!--footer end-->

</body>
<script>
    $(function () {
        init();
        $.ajax({
            url: "/goods/getGoodsByPage",
            type: "post",
            data: {categoryId:$("#categoryId").val(),pageNumber:1,pageSize:1000,order:1},
            dataType: "json",
            success(data){
                $("#count").text(data.data.length);
                $.each(data.data,function (i,good) {
                    $("#grids").append('<div class=\"  product-grid\">\n' +
                        "                <div class=\"content_box\"><a href=\"\\index\\single\\"+good.id+"\">\n" +
                        "                    <div class=\"left-grid-view grid-view-left\">\n" +
                        "                        <img src=\"http://"+good.image+"\"\n" +
                        "                             class=\"img-responsive watch-right\" style=\"width: 179px;height: 250px\" \n" +
                        "                             alt=\"\"/>\n" +
                        "                        <div class=\"mask\">\n" +
                        "                            <div class=\"info\">快速查看</div>\n" +
                        "                        </div>\n" +
                        "                </a>\n" +
                        "                </div>\n" +
                        "                <h4><a href=\"\\index\\single\\"+good.id+"\">"+good.name+"</a></h4>\n" +
                        "                <p>"+good.simpleDescribe+"</p>\n￥" +good.price+
                        "            </div>\n" +
                        "        </div>");
                });
            }
        });
    });

    function init() {
        var userName = $.cookie('userName');
        if (userName == null) {
            $("#personInfo").hide();
            $("#shoppingCartUrl").hide();
            $("#exitUrl").hide();
            $("#loginUrl").show();
        }
        else {
            $("#personInfo").show();
            $("#userName").text(userName);
            $("#shoppingCartUrl").show();
            $("#exitUrl").show();
            $("#loginUrl").hide();
        }
    }
</script>
</html>