<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Single</title>

<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--css-->
	<link rel="stylesheet" href="../css/etalage.css"  th:href="@{/css/etalage.css}" type="text/css" media="all" />
	<link href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/form.css" th:href="@{/css/form.css}" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/style.css" th:href="@{/css/style.css}"  rel="stylesheet" type="text/css" media="all" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<!---->
	<!--js-->
	<script src="../js/jquery-1.11.1.js" th:src="@{/js/jquery-1.11.1.js}"></script>
	<script src="/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
	<script src="../js/jquery.easydropdown.js" th:src="@{/js/jquery.easydropdown.js}"></script>
	<script src="../js/jquery.etalage.min.js" th:src="@{/js/jquery.etalage.min.js}"></script>
	<!---->
</head>
<body>
<!--header-->
<div th:replace="../templates/header :: header"></div>
<!--header end-->
	
	 <div class="container"> 
	 	
	 	<div class=" single_top">
	      <div class="single_grid">
				<div class="grid images_3_of_2">
						<ul id="etalage">
						</ul>
						 <div class="clearfix"> </div>		
				  </div> 
				  <div class="desc1 span_3_of_2">
					  <input id="goodId" type="hidden" th:value="${good.id}">
				  	<ul class="back">
                	  <li><i class="back_arrow"> </i>回到<a th:href="@{'/index/product/'+${good.categoryId}}" th:text="${good.categoryName}"></a></li>
                    </ul>
					<h1 th:text="${good.name}"></h1>
					<ul class="price_single">
					  <li class="head"><h2 th:text="'￥'+${good.price}"></h2></li>
					  <li class="head_desc sky-form"><a href="#" th:text="'商品剩余'+${good.inventory}"></a>
					  </li>
					  <div class="clearfix"> </div>
					</ul>
					<p th:text="${good.complexDescribe}"></p>
				    
			         <a href="#" class="now-get">添加到购物车</a>
			        
				</div>
          	    <div class="clearfix"> </div>
          	   </div>
          	   <ul id="flexiselDemo1">
			<li><img src="../images/pi.jpg" th:src="@{/images/pi.jpg}" /><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
			<li><img src="../images/pi1.jpg"  th:src="@{/images/pi1.jpg}"/><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
			<li><img src="../images/pi2.jpg" th:src="@{/images/pi2.jpg}"/><div class="grid-flex"><a href="#">Zumba</a><p>Rs 850</p></div></li>
			<li><img src="../images/pi3.jpg" th:src="@{/images/pi3.jpg}"/><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
			<li><img src="../images/pi4.jpg" th:src="@{/images/pi4.jpg}"/><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
		 </ul>
			<div class="toogle">
				<h3 class="m_3">商品细节</h3>
				<p class="m_text" th:text="${good.complexDescribe}"></p>
			</div>
		</div>
		 <!--sidebar-->
		 <div th:replace="../templates/sidebar :: sidebar"></div>
		 <!--sidebar end-->
		 <div class="clearfix"> </div>
	 </div>
<!--footer-->
<div th:replace="../templates/footer :: footer"></div>
<!--footer end-->
	    <script type="text/javascript">
		 $(function() {
		     init();

             $.ajax({
				 async: false,
                 url: "/goods/getGoodImage",
                 type: "post",
                 data: {id:$("#goodId").val()},
                 dataType: "json",
                 success(data){
                     $.each(data.data,function (i,image) {
                         $("#etalage").append("<li>\n" +
                             "<img class=\"etalage_thumb_image img-responsive\" src=\"http://"+image+"\"/>\n" +
                             "<img class=\"etalage_source_image img-responsive\" style=\"display: none\" src=\"http://"+image+"\" title=\"\" />\n" +
                             "</li>")
                     });
                 }
             });
             $('#etalage').etalage({
                 thumb_image_width: 300,
                 thumb_image_height: 400,
                 source_image_width: 900,
                 source_image_height: 1200,
                 show_hint: true,
                 click_callback: function(image_anchor, instance_id){
                     alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
                 }
             });
			$("#flexiselDemo1").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });
		    
		});

         function init() {
             var userName = $.cookie('userName');
             if (userName == null) {
                 $("#personInfo").hide();
                 $("#shoppingCartUrl").hide();
                 $("#exitUrl").hide();
                 $("#loginUrl").show();
             }
             else {
                 $("#personInfo").show();
                 $("#userName").text(userName);
                 $("#shoppingCartUrl").show();
                 $("#exitUrl").show();
                 $("#loginUrl").hide();
             }
         }
	</script>
	<script type="text/javascript" src="../js/jquery.flexisel.js" th:src="@{/js/jquery.flexisel.js}"></script>


</body>
</html>